<p><strong>CLAUSULA PRIMEIRA - DO OBJETO</strong></p>
        <ul>
            <li>1.1. O objeto deste contrato é a prestação de serviços educacionais referentes ao curso acima especificado, na modalidade presencial, em regime semipresencial, em conformidade com a legislação aplicável, com este Instrumento, com o Manual do Aluno e com o Regimento Geral da CONTRATADA, comprometendo-se as partes a cumpri-lo, sempre com base na boa-fé e no equilíbrio contratual.</li>
            <li>1.2. O(A) CONTRATANTE declara ter plena ciência de que o presente contrato tem início no ato da assinatura pelas partes, subsistindo até a conclusão do período letivo para o qual tenha sido assinado, renovável para o período letivo subsequente, por vontade das partes, mediante aceitação obrigatória do(a) CONTRATANTE em novo instrumento contratual, conforme regra prevista no contrato ora assinado.</li>
            <li>1.3. Ao firmar o presente contrato, o(a) CONTRATANTE e seu responsável legal/financeiro submetem-se aos ditames das fontes legais atinentes à matéria, tendo, portanto, conhecimento das relações ora ajustadas.</li>
            <li>1.4. A orientação técnica sobre a prestação dos serviços de ensino é de inteira responsabilidade da CONTRATADA, especialmente em relação à avaliação e ao rendimento escolar dos alunos, afixação de carga horária, grade curricular, indicação de professores, atividades curriculares, modalidade de ensino e a orientação didático-pedagógica, razão pela qual, por força da autonomia acadêmica definida em lei, poderá a CONTRATADA, a qualquer tempo, proceder a alterações nas atividades aqui mencionadas, bem como no local de sua realização, mediante prévia comunicação ao CONTRATANTE, através de qualquer meio de divulgação.
        </ul>

        <p><strong>CLAUSULA SEGUNDA – DO PREÇO E DO PAGAMENTO</strong></p>
        <ul>
            <li>2.1. O pagamento deverá ser efetuado até o dia 10 (dez) do mês a que se refere, nos valores constantes da tabela semestral da CONTRATADA disponível na secretaria acadêmica.</li>
            <li>2.2. A CONTRATADA poderá ofertar PREÇOS PROMOCIONAIS e/ou BOLSAS DE ESTUDOS, em determinados semestres, que serão divulgados durante o processo seletivo (vestibular) no entanto, caso o aluno vier a desistir do curso ou, solicitar trancamento do curso durante o semestre letivo, não fará jus ao preço promocional e ou bolsa de estudos, passando a vigorar o preço integral da mensalidade.</li>
            <li>2.3. Em contrapartida aos serviços educacionais prestados, o(a) CONTRATANTE efetuará o pagamento dos períodos letivos desdobrado em mensalidades, mediante quitação de respectivo boleto bancário ou equivalente em instituições financeiras indicadas no referido documento, cujo valor será apurado de acordo com o curso, bem como com as disciplinas e/ou créditos escolhidos, deduzidos eventuais descontos, cujo valor nominativo virá expresso no teor do aviso de cobrança.</li>
            <li>2.4. Caso o(a) CONTRATANTE não receba o boleto bancário ou equivalente até dois dias antes do vencimento, deverá se dirigir ao setor competente de atendimento ao aluno(a) para retirada de segunda via do boleto. O não recebimento do boleto de cobrança não desobriga o(a) CONTRATANTE ao pagamento da mensalidade, uma vez que a segunda via estará à disposição em tempo hábil, bem como não o exime da cobrança de multa, juros e atualização monetária previstos nas cláusulas seguintes.</li>
            <li>2.5. Os procedimentos administrativos como, segunda via de documentos, expedição de declarações, segunda chamada de provas entre outros, implicarão em cobrança ao aluno, devendo ser previamente requeridas por formulário próprio físico e/ou on-line. As taxas administrativas serão informadas e disponibilizadas pela Secretaria Acadêmica da IES.</li>
            <li>2.6. O não pagamento da mensalidade na data do vencimento, ou seja, dia 10 do mês, ensejará um acréscimo na mensalidade de 10% (dez por cento) a 20% (vinte por cento) sobre o valor de acordo com a tabela semestral.</li>
        </ul>

        <p><strong>CLAUSULA TERCEIRA – DO INADIMPLEMENTO</strong></p>
        <ul>
            <li>3.1. Em caso de inadimplemento, poderá a CONTRATADA cobrar multa sobre a parcela devida, juros de mora de 1% ao mês ou fração de mês e, atualização monetária (INPC), bem como poderá adotar todas as providências legais de cobrança cabíveis, inclusive, inscrever o nome do(a) CONTRATANTE e de seu responsável legal/financeiro em cadastro negativos de crédito e de informações do consumidor (SPC/SERASA).</li>
            <li>3.2. Em caso de judicialização do presente contrato, além do valor principal da dívida e acréscimos legais, ficará o(a) CONTRATANTE responsável pelo pagamento dos honorários advocatícios na proporção de 20% (vinte por cento) sobre o valor da causa e demais despesas processuais.</li>
        </ul>

        <p><strong>CLAUSULA QUARTA – DA FIANÇA</strong></p>
        <ul>
            <li>4.1. O(A) CONTRATANTE regularmente matriculado no curso objeto deste contrato, bem como o responsável legal/financeiro, assume solidariamente a obrigação de pagar a integralidade do valor do curso, em razão da CONTRATADA disponibilizar ao aluno(a) a respectiva vaga, independentemente do momento da matrícula.</li>
            <li>4.2. O(A) CONTRATANTE e seu responsável legal/financeiro assumem, solidariamente, a responsabilidade pelo pagamento de todo o valor da obrigação, fracionada de acordo com os meses do período letivo, ainda que não venha a frequentar as aulas, ressalvadas as hipóteses de trancamento ou cancelamento de matrícula que, obstam a cobrança das parcelas vincendas.</li>
        </ul>

        <p><strong>CLAUSULA QUINTA – DA MATRÍCULA E REMATRÍCULA</strong></p>
        <ul>
            <li>5.1. A ficha de matricula devidamente preenchido e assinado integra o processo de matricula junto a FAMA.</li>
            <li>5.2. A configuração formal do ato de matricula no curso escolhido pelo aluno se caracteriza pelo preenchimento e assinatura do formulário próprio, denominado de “Ficha de matricula”, no qual constam todos os dados do aluno(o) e pelo pagamento da taxa.</li>
            <li>5.3. A renovação da matricula (rematrícula) é feita semestralmente para período letivo subsequente, nos prazos estabelecidos no calendário acadêmico e, mediante aceitação obrigatória do(a) CONTRATANTE através de renovação do contrato.</li>
            <li>5.4. Para renovação da matricula (rematrícula) é indispensável o cumprimento integral de todas as cláusulas contratuais, especialmente o adimplemento das mensalidades dos períodos anteriores e das taxas administrativas, conforme disposto no art. 5º da Lei 9.870, de 23 de novembro de 1999.</li>
            <li>5.5. Havendo débitos de mensalidades escolares referente ao semestre anterior, a CONTRATADA poderá indeferir o pedido de rematrícula do CONTRATANTE, nos termos da Lei 9.870, de 23 de novembro de1999 e Medida Provisória 2.173-24, de 23 de agosto de 2001.</li>
        </ul>

        <p><strong>CLAUSULA SEXTA – DAS OBRIGAÇÕES DA CONTRATADA</strong></p>
        <ul>
            <li>6.1. A CONTRATADA se obriga a ministrar o Curso de GRADUAÇÃO ao CONTRATANTE devidamente matriculado conforme registros da IES, por meio do ensino, pesquisa, extensão e demais atividades escolares, de acordo com a legislação vigente e de acordo com a proposta curricular.</li>
            <li>6.2. A CONTRATADA deverá fornecer recursos físicos, didático-pedagógicos e laboratoriais adequados na administração do ensino, pesquisa e extensão bem como propiciar condições de leitura e pesquisa junto a biblioteca.</li>
            <li>6.3. A CONTRATADA deverá avaliar o(a) CONTRATANTE na forma prevista no Regimento Geral e no Plano de Ensino, disponibilizando ao aluno(a), o calendário acadêmico semestral, matriz curricular do período e carga horária semestral, indicar professores e dar assistência técnico-pedagógica.</li>
            <li>6.4. O calendário acadêmico semestral conterá: as datas das avaliações de primeira e segunda chamada, exame final, feriados, recessos, início e encerramento do semestre letivo, entre outras informações pertinentes.</li>
        </ul>

        <p><strong>CLAUSULA SÉTIMA–DAS OBRIGAÇÕES DO(A) CONTRATANTE</strong></p>
        <ul>
            <li>7.1. É obrigação do(a) CONTRATANTE solicitar a matricula observando as normativas e respeitando os prazos fixados pela CONTRATADA.</li>
            <li>7.2. Frequentar as aulas ministradas e demais atividades curriculares na proporção exigida por lei e, atingir o aproveitamento de estudos necessário a aprovação.</li>
            <li>7.3. Respeitar as normativas da CONTRATADA de acordo com o Regimento Geral, encaminhando os seus requerimentos ao órgão competente para análise, sempre na forma escrita, sob pena de não serem apreciados.</li>
            <li>7.4. Efetuar o pagamento das mensalidades na data prevista sob pena de sofrer os encargos de juros, multa e correção dos valores.</li>
            <li>7.5. O CONTRATANTE é responsável por providenciar todos os documentos exigidos pela CONTRATADA, no prazo máximo de 60 (sessenta) dias após a efetivação da matrícula, para o regular registro acadêmico, caso não haja a entrega de todos os documentos necessários, o CONTRATANTE poderá ter sua matrícula cancelada.</li>
        </ul>

        <p><strong>CLAUSULA OITAVA – DA DESISTÊNCIA, TRANCAMENTO OU PEDIDO DE TRANSFÊRENCIA</strong></p>
        <ul>
            <li>8.1. O(A) CONTRATANTE poderá solicitar a desistência, transferência ou trancamento do curso no qual se encontra matriculado desde que, já tenha cursado o primeiro semestre letivo. A transferência, a desistência ou trancamento do curso do curso, somente poderá ser concedida aos alunos que já cursaram o primeiro semestre.</li>
            <li>8.2. O(A) CONTRATANTE que solicitar a desistência, trancamento ou transferência do curso, ficará responsável pelo pagamento da parcela integral do mês da solicitação.</li>
            <li>8.3. O(A) CONTRATANTE que vier a desistir do curso sem qualquer comunicação ficará responsável pelo pagamento das mensalidades até o final do contrato (semestralidade). A desistência ainda acarretará o cancelamento da vaga no curso.</li>
            <li>8.4. No caso de trancamento do curso, o aluno poderá retomar o curso até o período de 2 (dois) anos. Após esse período deverá passar novamente, por processo seletivo/vestibular.</li>
        </ul>

        <p><strong>CLAUSULA NONA – DISPOSIÇÕES GERAIS</strong></p>
        <ul>
            <li>9.1. O presente contrato constitui título executivo extrajudicial nos termos do art. 784, III, do CPC, reconhecendo, o CONTRATANTE, desde já, este título como líquido, certo e exigível.</li>
            <li>9.2. Passa igualmente a fazer parte deste contrato os normas escolares complementares constantes em mural afixados na IES, página da internet da IES e, regulamentação administrativa e pedagógica da Diretoria por meio de Resoluções, Portarias, Comunicados, Editais e quaisquer outros meios.</li>
            <li>9.3. O valor da mensalidade semestral, percentuais de desconto de bolsas de estudos ou eventuais descontos promocionais entre outros, serão informados ao CONTRATANTE no ato da matricula (Anexo I) que acompanha o presente contrato.</li>
            <li>9.4. O valor da disciplina optativa que, o(a) CONTRATANTE escolher cursar, bem como as disciplinas de Trabalho de Conclusão de Curso (TCC) e Estágios Supervisionados, não estão inclusos no valor regular dos cursos ofertados pela CONTRATADA.</li>
            <li>9.5. A critério da contratada poderá ser articulada a junção de turmas do mesmo curso e período, uma vez que ocorra a redução do número de alunos.</li>
            <li>9.6. Os documentos acadêmicos estarão disponíveis e poderão ser acessados através no site: http://faculdadedaamazonialegal.com.br. Para a emissão dos documentos acadêmicos o aluno deverá acessar o “PORTAL DO ALUNO” com Login e Senha, disponibilizados no ato de sua matricula.</li>
            <li>9.7. Caso o aluno(a) solicite a impressão dos documentos disponibilizados online e gratuitamente no site, a IES cobrará a taxa de impressão.</li>
            <li>9.8 A CONTRATANTE não se responsabiliza por qualquer dano moral e/ou material sofrido pelo aluno nas dependências da IES a que não tenha dado motivação, bem como não se responsabiliza pela guarda ou perda de seus bens e objetos pessoais dentro da IES ou nas proximidades.</li>
            <li>9.9. A biblioteca cobrará do(a) CONTRATANTE o valor do livro não devolvido ou danificado e, multa por atraso na devolução.</li>
            <li>9.10. O aluno que causar dano ao patrimônio da instituição ficará responsável pela reparação do dano.</li>
            <li>9.11. O presente contrato passa a ter validade a partir da assinatura e, é pactuada entre as partes em caráter definitivo, irrevogável, irretratável e com expressa renúncia de arrependimento, obrigando seus herdeiros e sucessores.</li>
        </ul> 

        <p><strong>CLAUSULA DÉCIMA – DA DURAÇÃO E REAJUSTE DO CONTRATO</strong></p>
        <ul>
            <li>10.1. O presente instrumento contratual passa a ter validade no ato da assinatura pelas partes e, refere-se ao período de JANEIRO a JUNHO de 2023.</li>
            <li>10.2. O valor da semestralidade do curso em que o aluno(a) esteja matriculado está sujeito a reajustes e revisões anuais, conforme autorizado pela Lei º 9.870 de 23 de novembro de 1999.</li>
            <li></li>
        </ul> 

        <p><strong>CLAUSULA DÉCIMA PRIMEIRA – DO FORO</strong></p>
        <ul>
            <li>11.1. Para dirimir quaisquer controvérsias oriundas deste contrato as partes elegem o foro da comarca de Colíder/MT, excluindo-se qualquer outra por mais privilegiada que seja.</li>
        </ul> 